footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 1px black;
    & img{
        position: relative;
        width: 150px;
        margin-left: 100px;
        
    }
    & .social-ahmed{
        margin-right:20px ;
        & ul{
                    display: flex;
            & li{
                margin: 25px;
                font-size: 40px;
                & a{
                    color:white;
                }
            }
        }

    }
}
