*{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow:initial;
    overflow-x: hidden;
    background-color: rgb(12, 12, 12);
    height: 110vh;
}
.overflow{
    overflow:hidden;
}
.vis{
    opacity: 30%;
}
.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.582);
}
.display{
    display: none;
}
header{
    background-color: black;
    box-shadow: 0 0 30px 10px black;
    border-radius: 0 0 30px;

}
.main{
    /* display: none; */
    padding-bottom: 50px;
    color:white;
    padding-top: 30px;
    text-align: center;
    border-radius: 0 0 30px;
    & h2{
        animation-name: dis;
        animation-duration: 2s;
        font-size: 25px;
        padding: 10px;
        & span{
            color: red;
        }
    }
    & a{
        transition: 0.3s;
        font-size: 23px;
        font-weight: 600;
        padding: 7px 100px;
        margin: 0 45px;
        border-radius: 30px;
        cursor: pointer;
        background-color: white;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        position: relative;
        margin-top: 70px;
        overflow: hidden;
        & img{
            width: 50px;
            left: 43%;
            transform: translateY(200px);
            background-color: red;
           position: absolute;
           mask-image: url('/data/1f94a_high_contrast.png');
           mask-size:contain;
           mask-repeat: no-repeat;
           object-fit: contain;
           object-position: 10000px 10000px;
           opacity: 0;
           transition: 0.3s;
        }
        animation-name: button;
        animation-duration: 1s;
    }
    & a:active img{
        opacity: 1;
        transform: translateY(0);
      }
      & a:active{
          color: transparent;
          background-color: black;
          outline: none;
          border:1px solid red;
          transform: scale(0.9);
      }
    
}
.record{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    & h2{
        font-size: 22px;
        margin:10px;
        padding: 8px 15px;     
        border-radius: 10px;
    }
    & h2:nth-child(1){
        box-shadow: 0 10px 10px 1px white;
        border: 2px solid white;
    }
    & h2:nth-child(2){
        box-shadow: 0 10px 10px 1px white;
        border: 2px solid white;
    }
    & h2:nth-child(3){
        box-shadow: 0 10px 10px 1px white;
        border: 2px solid white;
    }
}
.next-match{
    color: white;
    display: flex;
    /* flex-direction: column; */
    padding: 30px;
    justify-content: center;
    font-size: 17px;
    border: 2px solid white;
    /* width: fit-content; */
    border-radius: 20px;
    & h3{
        margin: 10px;
    }
}
.yassin-img{
    display: none;
}
.logo img{
    width:62px ;
}
.logo{
    position: absolute;
    left: 0;
}
.top ul{
    border-left: 1px solid white;
    z-index: 10000;
    transition: 0.9s;
    text-align: center;
    padding:0;
    margin: 0;
    width: 230px;
    display: flex;
    /* transform: translateX(300px); */
    flex-direction: column;
    justify-content: center;
    color: white;
 justify-content: center;
 position: fixed;
top:0;
right: 0;
 background-color: black;
 height: 100vh;
 & li{
    margin:0  0 0;
    margin-bottom: 70px;
    border: 2px solid white;
    padding: 5px 5px 5px 5px;
    border-radius:10px ;

    & a{
           color: white;
           font-size: 23px; 
    }
 }
 & .main,.about1,.more,.social{
    padding: 0 80px;


 }
 & .li-main,.li-about1,.li-social,.last{
    padding: 5px 0 5px 5px;
    border-radius: 0 10px 10px 0;
    padding: 5px 0px 5px 5px;  
    border-left: 1px solid black;
    margin:0 10px 0 0;
    margin-bottom: 70px;
 }
}
.sider-social{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: -100px;
    & li a{
        padding: 10px;
    }
}
.open{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
}
.open p{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.open span{
    justify-self: end;
    position: fixed;
    font-size: 40px;
    color:white;
    margin: 0;
    padding: 10px 12px;
    right: 0;
    z-index: 100;
    background-color: black;
    border-radius:0 0 0 20px;
}
.close{
    position: absolute;
    top: 10px;
    font-size: 40px;
    margin-left: 10px;
    & i{
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
    }
}
.about{
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
 /* display: none; */
 & img{
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:30px ;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px black;
 }
 & > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    padding: 20px 5px;
    text-align: center;
    font-size: 15px;
    color: rgb(143, 143, 143);
    line-height: 30px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px ;

 }
}
.about-yassin{
    margin-top:150px ;
    opacity: 0;
    transition: 2s;
    transform: translateY(150px);
}
.yassin-matchs{
    opacity: 0;
    transition: 2s;
    transform: translateY(150px);
}
.about-img img{
    display: none;
}
.social{
    & h1{
        font-size: 25px;
    }
    display: flex;  
          flex-direction: column;
          align-items:center ;
          color: white;
          margin-top: 300px;
        & ul{
            /* border: 3px solid white; */
            /* box-shadow: 0 0 10px 1px ; */
            padding: 0px;
            border-radius: 20px;
            & li a{
                margin:50px;
                font-size: 20px;
            transition: 0.3s;
            cursor: pointer;
            color: white;
            }
           & li{


            margin:50px 0;
            border: 3px solid white;
            box-shadow: 0 0 10px 1px ; 
            padding: 10px;
            border-radius: 20px;
            text-align: center;

            & a{
padding: 0 50px;
margin: 0;


            }
            }

            & li:nth-child(1){
                transition: 1s;         
            }
            & li:nth-child(2){
                transition: 1s;
            }
            & li:nth-child(3){
                transition: 1s;
            }
            & li:active{
                transform: scale(0.9);
            }
        }
    }
    .show{
        opacity: 1;
        transform: translateX(0);
    }
    .unshow{
        opacity: 0;
    }
.sider-show{
    transform: translateX(0px);

}
.sider-close{
    transform: translateX(300px);
}
footer{
    /* display: none; */
    & img,ul{
        display: none;
    }
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
}
@keyframes dis {
    from{
        bottom: 200px;
        opacity: 0;
    }
    to{
        bottom: 0;
    }
}
@keyframes button {
    from{
        transform: scale(0.3);
    }
    to{
        transform: scale(1);
    }
}