*{
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    padding-top:350px ;
}

.yassin-matchs{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 400px;
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s;
}
.yassin-matchs img{
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px;
}
.matchs-dis{
    width: 720px;
    font-size: 30px;
    line-height: 50px;
    color: rgb(172, 170, 170);
}
.about-yassin{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s;
}
.about-yassin img{
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px;
}
.about-dis{
    width: 720px;
    font-size: 30px;
    line-height: 50px;
    color: rgb(172, 170, 170);
}
.social{
display: flex;  
      flex-direction: column;
      /* align-items:center ; */
      color: white;
      align-items: space-around;
      margin: 300px 0;
      text-align: center;
    & ul{
        padding: 0;
        
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border-radius: 20px;
        & li a{
            position: relative;
            margin: 0 50px;
            font-size: 40px;
        transition: 0.3s;
        cursor: pointer;
        color: white;
            & i{
                display: flex;
                position: absolute;
                left: 40%;
                border-radius: 20px;
                bottom: 0;
                background-color: rgb(88, 88, 88);
                width: 70px;
                height: 70px;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px 3px black;
                transition: 0.3s;
            }
        & img{
            width: 300px;
            /* box-shadow: 0 0 50px 20px black; */
            border-radius: 25px;
            /* filter: blur(2px); */
            border: 2px solid black;
            transition: 0.5s;
            box-shadow: 0 0 10px 3px black;

        }
        }
        & li:nth-child(1){
            transform: translatex(500px);
            opacity: 0;
        }
        & li:nth-child(2){
            transform: translateY(300px);
            z-index: 100;
            opacity: 0;

        }
        & li:nth-child(3){
            transform: translatex(-500px);
            opacity: 0;

        }
        & .card:hover{
            /* transform: scale(1.1); */
        }
        & .card:hover img{
            box-shadow: 0 10px 20px 1px black;
            filter: blur(2px);
             transform: scale(1.1);
        }
        & .card:hover i{
            background-color: rgba(128, 128, 128, 0.322);
            bottom: 120px;
            transform: scale(1.5);
        }
    }
}
.about-img-phone{
    display: none;
}
.sidebar{
    display: none;
}
.sider-social{
    display: none;
}
.show{
    opacity: 1;
    transform: translateX(0);
}
.in-show{
    animation-name: ai;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes ai{
    to{
        opacity: 1; 
        transform: translatex(0);
    }
}
.fa-show{
    animation-name: ai2;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;

}
@keyframes ai2{
    to{
        opacity: 1; 
        transform: translateY(0);
    }
}
.ti-show{
    animation-name: ai3;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes ai3{
    to{
        opacity: 1; 
        transform: translateX(0);
    }
}